
    <h2>Entre em contato</h2>
  
  <p>Este é o template utilizado na Hiperedição dos Poemas Éditos de Alcina Dantas. Gostaria de conhecer a edição? Acesse o link  <a href="https://www.alcinadantas.com">www.alcinadantas.com</a></p>
  <ul class="contact">
    <li class="icon solid fa-envelope"><a href="acervoalcinadantas@gmail.com">acervoalcinadantas@gmail.com</a></li>
    <li class="icon solid fa-video"><a href="https://www.youtube.com/@acervoalcinadantas">Canal do youtube (acervoalcinadantas)</a></li>
  </ul>