mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#filter_input {
    margin-top: 10px;
}

.checkbox_acessibilidade{
    margin-top: 10px;
}

.icon_libras {
    margin-left: 10px;
    height: 30px;
}